presentation/_main.aux
presentation/_main.fdb_latexmk
presentation/_main.fls
presentation/_main.log
presentation/_main.nav
presentation/_main.out
presentation/_main.pdf
presentation/_main.snm
presentation/_main.toc
apresentacao/_main.aux
apresentacao/_main.fdb_latexmk
apresentacao/_main.fls
apresentacao/_main.log
apresentacao/_main.nav
apresentacao/_main.out
apresentacao/_main.pdf
apresentacao/_main.snm
apresentacao/_main.toc
